<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
  name="Quilt Coverage Framework"
  id="org.codehaus.undercover.quilt"
  version="0.6.5"
  provider-name="org.codehaus.undercover.quilt">

  <runtime>
    <library name="quilt-0.6-a-5.jar">
      <export name="net.sf.quilt"/>
    </library>
    <library name="bcel-5.0.jar">
      <export name="*"/>
    </library>
  </runtime>
</plugin>
